@media screen and (max-width: 500px) {
  body {
    font-family: Open Sans;
  }
  header > nav {
    display: none;
  }

  header {
    margin-top: 75px;
  }

  header > .deroulant {
    display: flex;
    flex-direction: column;
  }
  header > .deroulant > .recherche {
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
    border-radius: 10px;
  }
  header > .deroulant > .recherche > input {
    background-color: #f8f8f8;
    height: 40px;
    width: 380px;
    border: none;
  }

  header > .deroulant > .recherche > img {
    width: 25px;
    margin-top: 10px;
    margin-right: 10px;
    height: 25px;
    margin-left: auto;
  }
  header > .deroulant > ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 10px;
    top: 150px;
    font-size: 20px;
  }
  header > .deroulant > ul > a {
    text-decoration: none;
    color: rgba(64, 64, 64, 0.8);
  }
  header > .deroulant > .connexion {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 20px;
  }

  header > .deroulant > .connexion > .login {
    color: #96c67f;
    text-decoration: none;
  }
  header > .deroulant > .connexion > .register {
    background-color: #96c67f;
    padding: 10px;
    padding-right: 20px;
    text-align: center;
    width: 60px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
}
